@charset "utf-8";
/*--------正文开始----------*/

.content{width:1000px; margin:10px auto 0 auto;}

.contenttitle_whilt{ background:url(../images/hengxian012_37.jpg) repeat-x; height:22px; line-height:22px; margin:15px 11px 0 11px; }
.contenttitle_whilt span{  background:#fff url(../images/tubiao05_36.jpg) no-repeat left center;; display:inline-block; height:22px; font-size:16px; font-weight:700; color:#890101; padding-left:21px;}
.contenttitle_whilt span b{display:inline-block; padding:0 10px; color:#333333;}

.content_left{width:293px; background:#fff;border:1px solid #dddddd;}

.content_left .list{ width:268px; overflow:hidden; margin-left:11px; margin-top:15px;}
.content_left .list li{ margin:0 6px; border-bottom:1px dashed #9c9c9c; height:30px; line-height:30px; background:url(../images/dian01_44.jpg) no-repeat 5px center; padding-left:15px;}
.content_left .list li a{ color:#666666; font-size:14px;}

.content_right{width:695px;background:#fff;  }
.content_bottom{ padding:0;border:1px solid #dddddd;}

/* 面包屑 */
.mbxdh{ height:34px;}
.mbxdh_left{ width:260px; float:left; font-size:15px; line-height:34px;}
.mbxdh_right{ background:url(../images/sige_15.jpg) no-repeat; float:right; width:328px; height:34px; line-height:34px; font-size:15px;}

.contenttitle_us{ background:url(../images/datitlebj_03.jpg) no-repeat; height:34px; line-height:34px; font-size:16px; padding-left:27px; font-weight:700; color:#333333;}
.contenttitle_us span{ float:left;}
.contenttitle_us span a{font-size:16px; color:#333333; padding-right:10px;}


.newslist{overflow:hidden;}
.li_in {
	padding:15px 10px 0px 10px;
	margin:8px;
	height:75px;
	border-bottom:solid 1px #ccc;
}
.li_in b{font-size:16px;}
.li_in em {
	width:37px;
	height:47px;
	display:inline-block;
	background-color:#e1e3e4;
	padding:10px 10px 0px 10px;
	float:left;
}
.nian {
	font-size:14px;
	font-family:Arial,Helvetica,sans-serif;
	border-bottom:solid 1px #ccc;
	text-align:center;
	color:#666;
	line-height:18px;
}
.yue {
	font-size:11px;
	font-family:Arial,Helvetica,sans-serif;
	border-bottom:solid 1px #ccc;
	text-align:center;
	color:#666;
	line-height:16px;
}
.li_in a {
	font-size:12px;
	color:#414141;
	margin-left:30px;
	width:450px;
	float:left;
	font-weight:bold;
}
.li_in a:hover {
	color:#eb4938;
}
.li_in h3 {
	float:left;
	margin-left:30px;
	width:450px;
	height:50px;
	font-weight:normal;
}
.li_in i a {
	font-size:35px;
	font-weight:bold;
	float:right;
	width:auto;
	color:#aeafb1;
}
.li_in i a:hover {
	color:#eb4938;
	text-decoration:none;
}






