/* CSS Document */
.content{width:1000px; margin:10px auto 0 auto;}

.contenttitle_whilt{ background:url(../images/hengxian012_37.jpg) repeat-x; height:22px; line-height:22px; margin:15px 11px 0 11px; }
.contenttitle_whilt span{  background:#fff url(../images/tubiao05_36.jpg) no-repeat left center;; display:inline-block; height:22px; font-size:16px; font-weight:700; color:#890101; padding-left:21px;}
.contenttitle_whilt span b{display:inline-block; padding:0 10px; color:#333333;}

.content_left{width:293px; background:#fff;border:1px solid #dddddd;}

.content_left .list{ width:268px; overflow:hidden; margin-left:11px; margin-top:15px;}
.content_left .list li{ margin:0 6px; border-bottom:1px dashed #9c9c9c; height:30px; line-height:30px; background:url(../images/dian01_44.jpg) no-repeat 5px center; padding-left:15px;}
.content_left .list li a{ color:#666666; font-size:14px;}

.content_right{width:695px;background:#fff;  }
.content_bottom{ padding:0;border:1px solid #dddddd;}

/* 面包屑 */
.mbxdh{ height:34px;}
.mbxdh_left{ width:260px; float:left; font-size:15px; line-height:34px;}
.mbxdh_right{ background:url(../images/sige_15.jpg) no-repeat; float:right; width:328px; height:34px; line-height:34px; font-size:15px;}

.contenttitle_us{ background:url(../images/datitlebj_03.jpg) no-repeat; height:34px; line-height:34px; font-size:16px; padding-left:27px; font-weight:700; color:#333333;}
.contenttitle_us span{ float:left;}
.contenttitle_us span a{font-size:16px; color:#333333; padding-right:10px;}

.product .dTop{padding:8px;border:0px solid red;}
.product .img{float:left;border:1px solid #ccc;padding:3px;}
.product .imgDetail{width:350px;float:right;}
.product .imgDetail .title{text-align:center;}
.product .imgDetail li{line-height:35px;height:35px;border-bottom:1px dashed #ccc;}
.product .imgDetail .title h1{font-size:16px;background-color:#F1F5FA;height:35px;line-height:35px;border:1px solid #ddd;}
.product .contentD{padding:20px;}

.product .productContent{padding:8px;font-size:14px;line-height:28px;}
.product p{text-index:2em;}
.product .jianjie{
	padding:8px;font-size:14px;line-height:28px;
}
.pnav {
    background: #f1f1f1 none repeat scroll 0 0;
    border-left: 5px solid #990000;
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
	margin-left:8px;
}
.pnav span{float:right;font-size:12px;color:#666;margin-right:20px;}
.productContent{padding-left:8px;}
.clothing_img{ overflow:hidden;margin-left:-2px;}
.clothing_img li{ width:166px; height:220px; float:left; background:url(../images/xifubj_10_1.jpg) no-repeat; margin:11px 0 0 2px;overflow:hidden;}
.clothing_img li img{width:135px;height:170px;}
.clothing_img li a{ display:block; width:135px; margin:9px 0 0 17px;color:#242424;}
.clothing_img li a p{ text-align:center; font-size:14px; color:#242424; margin-top:6px;}